<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Benchmark dashboard</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="css/main.css" rel="stylesheet"/>
</head>
<body id="query2sku-ui">
<div class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://research.zalando.com" target="_blank">
                    <img class="logo" src="img/research_logo.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link">Benchmark</a>
                    </li>
                    <li v-for="ds in datasets" class="nav-item" v-bind:class="{active: curDataName == $key}"
                        v-on:click="curDataName=$key">
                        <a class="nav-link" href="#">{{ds}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/barionleg/fashion-mnist" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i> Repository</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12 center-block">
            <input v-model="search" class="form-control"
                   placeholder="Filter {{bm_data[curDataName].length}} results by Name, Parameter">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 center-block">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th v-for="col in col_show_name[curDataName]">
                            <a href="#" v-on:click="sortBy(col)" v-bind:class="{activeheader: sortKey == col}">
                                {{ col_name_desc[col] | capitalize }}
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr
                            v-for="bm in bm_data[curDataName] | filterBy search in 'name' 'parameter' | orderBy '_'+sortKey sortOrder">
                        <td v-for="col in col_show_name[curDataName]">{{ bm[col] }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/1.3.0/moment-duration-format.min.js" integrity="sha256-SjPDuWPRLxUNqTwhiAcTNcIwQLbf5khquJsz5fekYms=" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/vue-binding.js"></script>

</body>
</html>
